.features {
  .content {
    margin-top: 5rem;
    grid-template-columns: 1fr 1.2fr;
    @apply flex flex-col lg:grid;
  }
}
.features__images--desktop {
  position: relative;
  --border-radius: 2rem;
  img {
    overflow: hidden;
    @apply w-[17rem];
    object-fit: cover;
  }
  :has(> img) {
    position: relative;
    border-radius: var(--border-radius);
    overflow: hidden;
    transition-property: transform box-shadow;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 6px 20px rgba(0, 0, 0, 0.19);
    &:hover {
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3), 0 12px 40px rgba(0, 0, 0, 0.19);
      transform: translateY(-5px);
    }
  }
  p {
    @apply text-3xl font-extrabold font-accent text-light text-center tracking-widest;

    position: absolute;
    inset: 0;
    border-radius: var(--border-radius);
    text-shadow: 0 0 3px var(--color-dark);
    display: flex;
    align-items: center;
    z-index: 1;
    &::after {
      position: absolute;
      content: "";
      @apply inset-0;
      border-radius: var(--border-radius);
      text-shadow: 0 0 3px var(--color-dark);
      background: linear-gradient(
        0deg,
        rgba(28, 27, 27, 0.8) 0%,
        rgba(51, 50, 50, 0.5) 50%,
        rgba(28, 27, 27, 0) 100%
      );
      backdrop-filter: contrast(1.3);
      transition-property: background-position;
      transition-duration: 0.5s;
      transition-timing-function: ease;
      background-size: 100% 150%;
      background-position: 0% 0%;

      padding: 1rem;
      z-index: -1;
    }
    &:hover::after {
      background-position: 0% 100%;
    }
  }
  & > * {
    position: absolute;
  }
  & > *:nth-child(1) {
    left: 0;
    top: 9rem;
  }
  & > *:nth-child(2) {
    top: 0;
    z-index: 1;
    right: 0;
    left: 0;

    @apply w-fit mx-auto;
  }
  & > *:nth-child(3) {
    z-index: 3;
    right: 0;
    top: 8rem;
  }
}
.features__images--phone {
}
