.quote {
  background-image: url("../static/airplane-on-map.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  vertical-align: center;
  border-radius: var(--container-border-radius);
  overflow: hidden;
  @apply px-3 py-6  md:px-5 md:py-[5rem];
  p {
    @apply font-bold font-serif text-xl md:text-4xl italic text-light tracking-wide;
    &::before,
    &::after {
      content: "";
      background-image: url("../static/quote.webp");
      background-size: contain;
      min-width: 50px;
      min-height: 50px;
      background-repeat: no-repeat;
      position: absolute;
      object-fit: contain;
      top: 10%;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: fit-content;
    }
    &::after {
      top: initial;
      bottom: 5%;
      transform: rotateY(180deg);
    }
  }
  position: relative;
  z-index: 1;
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    background-color: rgba(48, 56, 0, 0.555);
    mix-blend-mode: multiply;
  }
  .author {
    @apply text-light font-bold text-lg;
    position: relative;

    &::before,
    &::after {
      content: "";
      bottom: 0;
      top: 0;
      margin: auto 0;
      width: 20px;
      height: 2px;
      position: absolute;
      background-color: var(--color-light);
    }
    &::before {
      right: 105%;
    }
    &::after {
      left: 105%;
    }
  }
}
