.logo-label {
  display: inline-block;
  background: url("imgs/logo_and_label.webp") no-repeat -102px -90px;
  width: 98px;
  height: 42px;
}
.logo {
  background: url("../static/logo_and_label.webp") no-repeat -3px -27px;
  display: inline-block;
  width: 98px;
  height: 112px;
}
.logo-and-label {
  display: inline-block;
  background: url("imgs/logo_and_label.webp") no-repeat -3px -27px;
  width: 197px;
  height: 112px;
}
.overlay {
  border-width: 10px;
  border-style: solid;
  // border-image-source: linear-gradient()
  border-image-slice: fill 1;
}
