.logo-label {
  display: inline-block;
  background: url("imgs/logo_and_label.webp") no-repeat -102px -90px;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: bottom center;
}
.logo {
  background: url("../static/logo_and_label.webp") no-repeat -3px -27px;
  display: inline-block;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: bottom center;
}
.logo-and-label {
  display: inline-block;
  background: url("imgs/logo_and_label.webp") no-repeat -3px -27px;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: bottom center;
}
.overlay {
  border-width: 10px;
  border-style: solid;
  // border-image-source: linear-gradient()
  border-image-slice: fill 1;
}
.modal-child {
  position: absolute;
  background-color: var(--color-light);
  @apply rounded shadow-lg p-4 pt-10 md:p-8 inset-[4vw] md:inset-[5vw];
  &::-webkit-scrollbar {
    width: 16px;
    z-index: -1;
  }

  &::-webkit-scrollbar-track {
    background: #f5f5f5;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-primary);
    border-radius: 10px;
    border: 3px solid #f5f5f5;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-primary-dark);
  }
}
.section-highlight {
  @apply text-lg text-primary-dark font-bold tracking-wider;
}
.section-heading {
  @apply text-2xl md:text-3xl lg:text-4xl font-bold my-2;
}
.section-text {
  @apply font-secondary text-slate-800;
}

.glass-button {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.25),
    rgba(255, 255, 255, 0.1)
  ); /* Gradient for depth */
  backdrop-filter: blur(10px); /* Blur for glass effect */
  -webkit-backdrop-filter: blur(10px); /* Support for older browsers */
  border-radius: 12px; /* Rounded button corners */
  border: 1px solid rgba(255, 255, 255, 0.3); /* Thin translucent border */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Soft shadow for depth */
  color: #fff; /* White text for contrast */
  padding: 12px 24px; /* Button padding */
  font-size: 16px; /* Button text size */
  text-transform: uppercase; /* Make text uppercase */
  letter-spacing: 1px; /* Add letter spacing for style */
  cursor: pointer; /* Change cursor to pointer */
  transition: all 0.3s ease; /* Smooth hover animation */
}

.glass-button:hover {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.2)
  ); /* Lighter on hover */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Larger shadow on hover */
  transform: scale(1.05); /* Slight scale-up on hover */
}
